*.db-shm
*.db-wal
__pycache__/
*.aux
*.log
*.out
repos/
logs/
outputs/background/2dgs/point_cloud/iteration_30000/point_cloud.ply
outputs/object_a/2dgs/point_cloud/
data/object_a/images/
data/object_a/train/
data/object_a/test/
data/object_a/val/
data/background/images/
data/object_a/nerf_*
models/bonsai.ply
models/
report/figures/
report/report.pdf
report/*.aux
report/*.log
report/*.out
outputs/
data/models/
data/background/
data/object_a/
data/object_c/depth.png
data/object_c/simple_object.png
